<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DraftVerse</title>
</head>
<body>
<section id="mainPage">
  <div class="container">
    <div id="logoDiv" class="logo">
      <img ngSrc="assets/logo.png" height="68" width="182" alt="Twilight Logo"/>
    </div>

    <h1><span class="highlight">DraftVerse</span></h1>
    <h2>Leave the Organizing to us!</h2>

    <button class="discover" (click)="scrollToSection('aboutSection')">Discover More!</button>
  </div>

</section>

<div style="height: 170px;"></div>

<section id="aboutSection">
  <div class="aboutSectionRow">
    <p class="aboutPLeft">
      DraftVerse is more than just a
      note-taking app; it's a dedicated
      platform designed to help you
      capture, organize, and manage your
      ideas seamlessly.
    </p>
    <img class="leftimg" src="assets/astronauts/astronaut_holding_boba.PNG" alt="astronaut_holding_boba"/>
  </div>

  <div class="aboutSectionRow reverse">
    <p class="aboutPRight">
      With an intuitive interface and
      powerful organization tools,
      DraftVerse helps you find exactly
      what you need, when you need it.
    </p>
    <img class="rightimg" src="assets/astronauts/astronaut_on_laptop.PNG" alt="astronaut_w_laptop"/>
  </div>

  <div class="aboutSectionRow">
    <p class="aboutPLeft">
      Designed with simplicity and
      efficiency in mind, DraftVerse
      offers core functionalities that
      streamline note-taking and
      organization.
    </p>
    <img class="leftimg" src="assets/astronauts/astronaut_w_star2.PNG" alt="astronaut_with_star"/>
  </div>

  <div style="height: 210px;"></div>
</section>

<section id="bundleSection">
  <h1 id="bundleHeader">Bundles</h1>

  <div class="text-row">
    <h2 style="color: #cca4f5">NEWLYFOUND EXPLORERS</h2>
    <h2 style="color: #cca4f5">NOVICE ASTRONAUTS</h2>
    <h2 style="color: #cca4f5">EXPERIENCED EXPLORERS</h2>
  </div>

  <div class="text-row">
    <h2>No Account</h2>
    <h2>Free Account</h2>
    <h2>Paid Account</h2>
  </div>

  <div class="text-row">
    <p>Free - No Access</p>
    <p>Limited Access to features</p>
    <p>Full Access to all features</p>
  </div>

  <div class="image-row">
    <img src="assets/astronauts/astronaut_sleeping.PNG" alt="astronaut_sleeping">
    <img src="assets/astronauts/astronaut_studying.PNG" alt="astronaut_study">
    <img src="assets/astronauts/astronaut_w_planet2.PNG" alt="astronaut_planet">
  </div>

  <div style="height: 150px;"></div>
</section>

<section id="contactSection" class="contact-page">
  <h1>Contact Us!</h1>
  <div style="height: 100px;"></div>
  <div class="contact-options">
    <div class="contact-item">
      <div class="contact-btn">PHONE</div>
      <p>+40 712 345 678</p>
    </div>
    <div class="contact-item">
      <div class="contact-btn">EMAIL</div>
      <p>hello&#64;reallygreatsite.com</p>
    </div>
    <div class="contact-item">
      <div class="contact-btn">SOCIAL</div>
      <p>COMING SOON!</p>
    </div>
  </div>
</section>


</body>
</html>
