<p>navigation-menu works!</p>

=======
<ul class="nav-content">
    <li class="center-button" (click)="goToHome()"><button class="nav-button">HOME</button></li>
    <li class="center-button" (click)="goToWorkspaces()"><button class="nav-button">WORKSPACES</button></li>
    <li class="center-button" (click)="goToAbout()"><button class="nav-button">ABOUT</button></li>
    <li class="center-button" (click)="goToContact()"><button class="nav-button">CONTACT</button></li>
    <li class="head" (click)="goToLogin()"><button class="login">LOG IN</button></li>
    <li class="head" (click)="goToRegister()"><button class="register">REGISTER</button></li>

   <!-- <li  class="center-button" (click)="goToProfile()"><button class="nav-button">Profile</button></li>-->
  </ul>
  <!--*ngIf="isLoggedIn"-->
